*{
background-color: rgb(197, 164, 164);
font-family: Arial, Helvetica, sans-serif;
}

h1{
  text-align: center;
  text-decoration: underline solid;
}

h2{
  color:rgb(55, 17, 115);
  text-decoration: underline;
}

input{
  border: solid;
}

button{
  color: white;
  background-color: blue;
  border: none;
}